In [1]:
#python and mathematics
print(2**2)
print(2**2/2)
print(2**2/2+2)
print(2**2/(2+2))

4
2.0
4.0
1.0

In [7]:
#Modulus- reminder when divided by a particular number
print(6%2)
print(7%2)
print(276732598%5)

0
1
3

In [1]:
#Identifying even and odd numbers
while True:
 num = int(input("Enter a number")) 
 mod = num % 2
 if mod > 0:
    print("This is an odd number.")
 else:
    print("This is an even number.")  
 break

This is an even number.

In [ ]:
number  = int(input('Guess the lucky number. Input a positve number between 1-1,000,000'))

def luck():
    if number == 1996:
        print("You Win!")
    elif number < 0:
        print("Stop being an idiot")
    elif number > 1000000:
        print("Please follow the instructions")    
    else:
        print("Keep Trying!")    
luck()

Keep Trying!

In [22]:
import numpy as np
import math as m
np.sqrt(64)
np.pi
m.pi

3.141592653589793

In [9]:
import numpy as np
def greeter():
    print("Hello")
greeter()
def closer():
    print("share your feedback here")


 #variable 1   
    
b = []
while True:
    a = int(input("Enter a number:"))
    if a < 100:
        b.append(a)
    else:
        print("Set b =",b)
        break    
c = np.average(b)
print("Mean of set b =",c)

#variable 2

b1 = []
while True:
    a1 = int(input("Enter a number:"))
    if a1 < 100:
        b1.append(a1)
    else:
        print("Set b1 =",b1)
        break    
c1 = np.average(b1)
print("Mean of set b =",c1)


""" #variable 3

b2 = []
while True:
    a2 = int(input("Enter a number:"))
    if a2 < 100:
        b2.append(a2)
    else:
        print("Set b1 =",b2)
        break    
c2 = np.average(b2)
print("Mean of set b =",c2)
      """


#Variance
#sqd_dev = [(x - c)**2 for x in b]
#var = sum(sqd_dev)/len(b)
#print(sqd_dev)
#print("Variance of the dataset b =",var)

#Standard deviation 
#std_dev = np.sqrt(var)
#print("Standard Deviation: ", std_dev)
#closer()

Hello
Set b = [56, 34, 78]
Mean of set b = 56.0
Set b1 = [67, 46, 44, 3]
Mean of set b = 40.0

' #variable 3\n\nb2 = []\nwhile True:\n    a2 = int(input("Enter a number:"))\n    if a2 < 100:\n        b2.append(a2)\n    else:\n        print("Set b1 =",b2)\n        break    \nc2 = np.average(b2)\nprint("Mean of set b =",c2)\n      '

In [ ]:
5#False (equal)
1 == 2
#True (not equal)
1 != 1

False

In [ ]:
myName = input("What is your name? ")
def salamu(name):
    print("UKOJE morio " + name)
salamu(myName)

UKOJE morio n

In [ ]:
#Functions
len("Constance")

9

In [26]:
#square of numbers


def squared(num):
    squared_num = num**2
    return squared_num

number = int(input("Enter a Real number: "))

squared(number)

16

In [ ]:
#celsius to fahrenheit converter app
def celsius_app(celsius):
    outcome = celsius * 1.8
    return outcome + 32

temp = int(input("Enter the current temperature: "))
celsius_app(temp)

129.2

In [37]:
#game
user_input = int(input("Enter a number between 1 - 10"))

def guess_game(n):
    magic_num = 7

    if user_input == magic_num:
     print("You got it")
    else:
     print("Try again")    

guess_game(user_input)

Try again

In [38]:
price = int(input("What is your price? "))
total = price + (price * .2) + 2.5

print("The total is ${:.2f}".format(total))

refill = price + (price * .2)/100

print("The refill is ${:.3f}".format(refill))

The total is $62.50
The refill is $50.100

In [ ]:
price = int(input("What is your price? "))

def totaler(price, charge, deposit):
    return price + (price * charge) + deposit

total_1 = totaler(price, .20, 2.50)
total_2 = totaler(price, .20, 1.5)
total_3 = totaler(price, .10, .1)

print("The total price is ${:.2f}, ${:.3f}, ${:.4f}".format(total_1, total_2, total_3)) #{:.2f}-two decimal places

The total price is $106.90, $105.900, $95.8000

In [ ]:
# list checker function
def checker():
    
    while True:
     c = ["wewe", "hkj", "97", "solo", "tuliz", "hahaha", "wanna", "hjkj", "GHG", "87ZUJ", "Ghj"]

     a = (input("Enter a name:"))
     c.append(a)
     for n in c: 
      print(n)
     else:
       break 

    print("Set c =",c)

         

checker()
#print("here is your list: {}".format(c))

wewe
hkj
97
solo
tuliz
hahaha
wanna
hjkj
GHG
87ZUJ
Ghj
fjhf
Set c = ['wewe', 'hkj', '97', 'solo', 'tuliz', 'hahaha', 'wanna', 'hjkj', 'GHG', '87ZUJ', 'Ghj', 'fjhf']

In [ ]:
#Grocery checker
def grocery_checker():
    grocery_list = ["milk", "eggs", "berries"]
    print("here is your list: {}".format(grocery_list))
    item = input("What item do you need to add? ")
    # checking if the item is not in the current list in lowercase
    if item.lower() not in grocery_list:
        grocery_list.append(item)
        print("Added {} to the list. Current list looks like this: ".format(item))
        print(grocery_list)
    else:
        print("Item already exists")
grocery_checker()

here is your list: ['milk', 'eggs', 'berries']
Added ghj to the list. Current list looks like this:
['milk', 'eggs', 'berries', 'ghj']

In [ ]:
#for loops
for n in range(4):
    print(n)


for n in range(3,6):
    print(n) 

#write a for loop that prints out 3,5,7 from 3-8 not including 8 in steps of 2
for n in range(3,8,2):
    print(n)

0
1
2
3
3
4
5
3
5
7

In [ ]:
#exit a loop with break
list_name = ["COnstance", "Octavia", "Solomon", "Hannah", "wewe"]

for name in list_name:
    if name == "Solomon":
        break
    print(name)

COnstance
Octavia

In [ ]:
#continue a loop with continue 
list_name = ["COnstance", "Octavia", "Solomon", "Hannah", "wewe"]

for name in list_name:
    if name == "Solomon":
        continue
    print(name)

COnstance
Octavia
Hannah
wewe

In [ ]:
#Data cleaning example (stripping info/data)

sales = ['$1.21', '$2.29', '$14.52', '$6.13', '$24.36', '33.85', '$1.92']
[s.lstrip("$") for s in sales]

['1.21', '2.29', '14.52', '6.13', '24.36', '33.85', '1.92']

In [ ]:
[sales[i].strip('$') for i in range(len(sales))]

['1.21', '2.29', '14.52', '6.13', '24.36', '33.85', '1.92']

In [ ]:
def checker():
    
    while True:
     c = ["wewe", "hkj", "97", "solo", "tuliz", "hahaha", "wanna", "hjkj", "GHG", "87ZUJ", "Ghj"]

     a = (input("Enter a name:"))
     c.append(a)
     for n in c: 
      print(n)
     else:
       break 

    print("Set c =",c)

In [ ]:
#break
i = 1
while i < 10:
    print(i)
    if i == 1:
        break
    i += 2

1

In [ ]:
#sequence, guess the next number addition
i = int(input("Enter starting number: "))
while i <= 20:
    print(i)
    i = i + 2 # same as (i += 2)
else:
    print("i is now greater than 11")

4
6
8
10
i is now greater than 11

In [50]:
#sequence, guess the next number addition
def seq (i):
 i = int(input("Enter starting number: "))
 while i <= 5 and i >= 0:
    print(i)
    i = i + 2 # same as (i += 2)

 else:
    print("i is now greater than 11")    
seq (i)

2
4
i is now greater than 11

In [55]:
request = int(input("Enter the number of crypto you wish to buy: "))

def crypto_calc (coins):
    coin_order = int(coins)*0.000012
    print("Deposit ${:.2f} to buy {} coins".format(round(coin_order, 2), coins))    
crypto_calc(request)

Deposit $12.00 to buy 1000000 coins

In [68]:
My_age = int(input("Enter age: "))

def age_calc(age):
    if age >= 21:
        print("You can enter the bar")
    elif age >= 18 and  age < 21:
        print("You can dine but not drink")
    else:
        print("You cannot enter the bar")

age_calc(My_age)

You can enter the bar

In [71]:
count = 10
while count:
    print(f"T-minus {count}")
    count -= 1
print("Take Off")

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
Take Off

In [47]:
#Sublists
sub_list = ["Jonathan", [1,2,3], "data", [4,5,6,["ati","wewe"], 7,8], "study"]
sub_list[3][3][1]

'wewe'

In [56]:
#lists/ Transposing data

compliments = [["You're", "mighty", 'awesome'], ['Stay', 'most', 'fabulous'], ['Always', 'truly']]
print(compliments)
column_1 = []
column_1.append(compliments[0])
print(column_1)

column_2 = compliments[1]
print(column_2)

column_3 = compliments[2]
print(column_3)

print(
    compliments[0][1]
)

[["You're", 'mighty', 'awesome'], ['Stay', 'most', 'fabulous'], ['Always', 'truly']]
[["You're", 'mighty', 'awesome']]
['Stay', 'most', 'fabulous']
['Always', 'truly']
mighty

In [71]:
#converting sentences/series into matrix
compliments = [["You're", "mighty", 'awesome'], ['Stay', 'most', 'fabulous'], ['Always', 'truly', "stunning"]]
column_1 = []
column_2 = []
column_3 = [] 

name = input("Whaz is your name? ")

for list in compliments:
    column_1.append(list[0])
    column_2.append(list[1])
    column_3.append(list[2])
print(column_1)
print(column_2)
print(column_3)    

print(name, column_1[2], column_2[1], column_3[2]) 

#reversing the order of a list
compliments.reverse()
print (compliments)

["You're", 'Stay', 'Always']
['mighty', 'most', 'truly']
['awesome', 'fabulous', 'stunning']
si Always most stunning
[['Always', 'truly', 'stunning'], ['Stay', 'most', 'fabulous'], ["You're", 'mighty', 'awesome']]

In [6]:
list = [1,2,3,4,4,5]
list.count(4)
n_list = list.append(31)
print(n_list)

None

In [20]:
#Python for data Analysis
#Import data analysis libraries pandas and numpy
#programming Styles
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns 

#Use numpy to generate 1000,000 random integers between 1-100
dataset = np.random.randint(1,1000000,10000)
mean = np.average(dataset)
print(dataset)
print(mean)

#create a random floats that are evenly distributed between 1 and 1000,000
floats = np.linspace(1,1000000,10000)
floats

#round the number to one decimal place
floats1 = np.around(floats)
floats1

[ 38538 750788 622057 ... 911143 284628 136210]
499467.2595

array([1.000e+00, 1.010e+02, 2.010e+02, ..., 9.998e+05, 9.999e+05,
       1.000e+06])

In [60]:
#wrangle data
data1 = np.linspace(1,1000000,10000)
#data1
series = pd.Series(data1)
series
#Indexing from 1 rather than the using 0(Set index to 1)
series.index = series.index + 1

series

series.mean()
series[3332]
series.shape

#create a two dimensional data frame
df = pd.DataFrame(data1, columns=['ratings'])
df
df.index = df.index + 1
df

type(df)

pandas.core.frame.DataFrame

In [142]:
x = pd.read_csv("/home/solo/Desktop/Companies.csv")
x
#counting from 1
#x.index = x.index + 1
x

#functions and methods
def preview(rows):
    df = pd.read_csv("/home/solo/Desktop/Companies.csv")
    return df.head(rows)

preview(9)

#iloc and loc
mini = x.iloc[[1, 2, 8]]
mini
mini2 = x.loc

#Extract DataFrame rows using the index syntax 
mini3 = x.iloc[:2]
mini3
#Series vs Dataframes
mini4 = x.iloc[2]
#type(mini3)
#type(mini4)
#print(x)
x.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count    1000.000000     1000.000000      1000.000000    1000.000000
mean    81668.927200   122963.897612    226205.058419  119546.164656
std     46537.567891    12613.927535     91578.393542   42888.633848
min         0.000000    51283.140000         0.000000   14681.400000
25%     43084.500000   116640.684850    150969.584600   85943.198543
50%     79936.000000   122421.612150    224517.887350  117641.466300
75%    124565.500000   129139.118000    308189.808525  155577.107425
max    165349.200000   321652.140000    471784.100000  476485.430000

In [157]:
#CLASSES 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

y = pd.read_csv("/home/solo/Desktop/Companies.csv")
y.head()

#SPECIAL METHODS/ magic/ dunder
class Summmary:
    def __init__(self, data):
        self.x = pd.read_csv("/home/solo/Desktop/Companies.csv")

In [161]:
#CLASS WITH ATTRIBUTES
class Summmary:
    def __init__ (self, data, name):
        self.df = pd.read_csv("/home/solo/Desktop/Companies.csv")
        self.name = name #attribute
data = Summmary("/home/solo/Desktop/Companies.csv", "Solomon Training")        
data.name

'Solomon Training'

In [172]:
#CLASS WITH LOGIC
class Summmary:
    def __init__ (self, data):
        self.df = pd.read_csv("/home/solo/Desktop/Companies.csv")
    def print_head(self):
        return self.df.head()
data = Summmary("/home/solo/Desktop/Companies.csv")    
data.print_head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [179]:
#CLASS WITH LOGIC returns n rows 
class Summmary:
    def __init__ (self, data):
        self.df = pd.read_csv("/home/solo/Desktop/Companies.csv")
    def print_head(self, rows=None):
        return self.df.head(rows)
data = Summmary("/home/solo/Desktop/Companies.csv")    
data.print_head(7)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51

In [10]:
#Exploratory Data Analysis (Dimensions)
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("/home/solo/Desktop/Companies.csv")
#Summary methods for EDA
 
class Summmary:
    def __init__(self, data): #initializes
        self.df = pd.read_csv("/home/solo/Desktop/Companies.csv")
    def print_head(self): #prints the first or n rows
        return self.df.head()
    def get_columns(self): #print column header names
        return list(self.df.columns)
    #dimension addition
    def get_dim(self):
        print('Rows: ', len(self.df))
        print('Columns: ', len(self.df.columns))

data = Summmary(y)
data.get_dim()
data.get_columns()

Rows:  1000
Columns:  5

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']

In [12]:
# Adding statistics to the data
class Summmary: 
    def __init__(self, data): 
        self.df = pd.read_csv("/home/solo/Desktop/Index2018.csv")
    def print_head(self):
        return self.head(rows=None)
    def get_columns(self):
        return list(self.df.columns)
    def get_dim(self):
        print('Rows: ', len(self.df))
        print('Columns: ', len(self.df.columns))        
    def get_stats(self):
        return self.df.describe()
data = Summmary(y)
data.get_stats()

               spx           dax         ftse        nikkei
count  6269.000000   6269.000000  6269.000000   6269.000000
mean   1288.127542   6080.063363  5422.713545  14597.055700
std     487.586473   2754.361032  1145.572428   4043.122953
min     438.920000   1911.700000  2876.600000   7054.980000
25%     990.671905   4069.350000  4486.100000  10709.290000
50%    1233.420000   5773.340000  5662.430000  15028.170000
75%    1459.987747   7443.070000  6304.250000  17860.470000
max    2872.867839  13559.600000  7778.637689  24124.150000

In [7]:

import pandas as pd
y = pd.read_csv("/home/solo/Desktop/mls_salaries1.csv")


#More summary statistics
class Summmary: 
    def __init__(self, data): 
        self.df = pd.read_csv("/home/solo/Desktop/mls_salaries1.csv")
    def print_head(self):
        return self.head(rows=None)
    def get_columns(self):
        return list(self.df.columns)
    def get_dim(self):
        print('Rows: ', len(self.df))
        print('Columns: ', len(self.df.columns))        
    def get_stats(self):
        return self.df.describe()
    def get_mean(self, column):
        print(f"Mean {column}:", self.df[column].mean())
    def get_standard_dev(self, column):
        print(f"Standard Deviation {column}:", self.df[column].std())
     
data = Summmary(y)
data
#data.get_mean('Profit')
#data.get_standard_dev('R&D Spend')

In [9]:
#OOP EDA with histograms
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

url = "/home/solo/Desktop/mls_salaries1.csv"

class Summmary: 
    def __init__(self, data): 
        self.df = pd.read_csv("/home/solo/Desktop/mls_salaries1.csv")
    def print_head(self, rows=None):
        return self.head(rows)
    def get_columns(self):
        return list(self.df.columns)
    def get_dim(self):
        print('Rows: ', len(self.df))
        print('Columns: ', len(self.df.columns))        
    def get_stats(self):
        return self.df.describe()
    def get_mean(self, column):
        print(f"Mean {column}:", self.df[column].mean())
    def get_standard_dev(self, column):
        print(f"Standard Deviation {column}:", self.df[column].std())
    def get_hist(self, column): #data visualization
        sns.set()
        self.df[column].hist(bins=100)
        plt.title(f"{column} Histogram")
        plt.show  
data = Summmary(y) 
#data.get_hist('Profit')         
data